body{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://www.teahub.io/photos/full/198-1987103_stock-images-love-image-heart-4k-stock-images.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
header{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#suaDataNasc{
    margin-top: 1vw;
    margin-left: 1vw;
}
#crushDataNasc{
    margin-top: 1vw;
    margin-left: 3vw;
}

#flash {
    color: red;
}
#canvas{
    color:green;
}

